
*{
    box-sizing:border-box; /* Definição de box-sizing */
}
body{
background: #0a2e4d; /* cor de fundo */
font-family: Arial, sans-serif; /* Fonte do corpo */
height: 100px; /* Altura do corpo */
padding: 20px; /* Preenchimento interno */
max-width: 1200px; /* Largura máxima do corpo */
margin: 0 auto; /* Centralização do corpo */

}
h1 {
    text-align: center; /* Alinhamento do texto*/
    font-size: 36px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
}
h2{
    color: #51626D; /* Cor do texto */
    margin-bottom: 20px; /* Margem inferior */
    font-size: 24px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto */
}
main{
    gap: 20px; /* Espaçamento entre os elementos */
    display: flex; /* Exibição flexível */
    margin-bottom: 30px; /* Margem inferior */
    justify-content: center; /* Justificação do conteúdo */
}
.conteudo-principal{
    background: #f8f9fA; /* Cor de fundo da seção */
    width: 500px; /* Largura da seção */
    border-radius: 8px; /* Bordas arredondadas */
    height: 400px; /* Altura da seção */
    padding: 30px; /* Preenchimento interno */
}
.area-codigo{
    background:#051626;
    color: #f8f9fA; /* Cor do texto */
    padding: 20px; /* Preenchimento interno */
    border-radius: 8px; /* Bordas arredondadas */
    height: calc(100% - 70px); /* Altura total */
    overflow-y: auto; /* Rolagem vertical */
    font-size: 14px; /* Tamanho da fonte */;
}
.area-resultado{
    background: #f8f9fA; /* Cor de fundo da área de resultado */
    color: #9999; /* Cor do texto */
    padding: 20px; /* Preenchimento interno */
    border-radius: 8px; /* Bordas arredondadas */
    height: calc(100% - 70px); /* Altura total */
    overflow-y: auto; /* Rolagem vertical */
    font-size: 14px; /* Tamanho da fonte */
    display: flex; /* Exibição flexível */
    align-items:center;
    justify-content: center; /* Justificação do conteúdo */

}
.conteudo-menor{
    background:#f8f9fA; /* Cor de fundo da seção menor */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Preenchimento interno */
    display: flex; /* Exibição flexível */
    gap: 15px; /* Espaçamento entre os elementos */

}
input{
    flex: 1; /* Permite que o input ocupe o espaço disponível */
    padding: 10px; /* Preenchimento interno */
    border: 2px solid #ccc; /* Borda */
    border-radius: 6px; /* Bordas arredondadas */
    color:#051626; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
}
button{
    padding: 10px 20px; /* Preenchimento interno */
    background-color: #37E359; /* Cor de fundo do botão */
    color: #f8f9fA; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 6px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    transition: 0.6s ease; /* Transição suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: #2abf4c; /* Cor de fundo ao passar o mouse */

}
button:active{
    background-color: #ccc; /* Cor de fundo quando desabilitado */
    cursor: not-allowed; /* Cursor de não permitido */
    transform: scale(0.95); /* Efeito de escala ao desabilitar */
}